* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 2.7vh;
}
body {
    background: var(--game-background);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    gap: 10vh;
}
#game-box {
    border: 0.1vh solid rgb(255, 255, 255);
    width: 80vh;
    height: 80vh;
    display: grid;
}
#game-box div {
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background 0.15s;
    overflow: hidden;
    cursor: default;
}
#game-box div::selection {
    background: transparent;
}
#game-box div:hover {
    background: rgb(79, 79, 79);
}
#game-setting {
    width: 45vh;
    height: 80vh;
    padding: 2vh 1.5vh;
    background: gray;
    border-radius: 1vh;
    position: relative;
    box-shadow: 0 0vh 0.5vh gray;
}
#game-setting input {
    width: 9vh;
    height: 3.75vh;
    padding-left: 0.4vh;
}
#game-setting form {
    display: grid;
    margin-top: 0.75vh;
    grid-template-columns: 5fr 1fr;
}
form#radio-form {
    grid-template-columns: 3fr 1fr 3fr 1fr;
}
button {
    margin: 0.7vh 0;
    width: 100%;
    padding: 0.6vh 0;
    border-radius: 0.5vh;
    border: 0.1vh solid black;
    transition: opacity 0.15s;
    font-size: 2.5vh;
}
button:hover {
    opacity: 0.9;
}
button:active {
    opacity: 0.7;
}
#setting {
    font-weight: 600;
    font-size: 4vh;
    margin-bottom: 2vh;
}
#game-setting hr {
    margin: 1.5vh 0;
    border: 0.1vh solid black;
    background-color: #ffeeee;
}
#remaining-blocks {
    margin-bottom: 1vh;
}
